{% extends 'base.html' %}

{% block title %}
MAIN PAGE
{% endblock %}

{% block body %}
<div class="container">

<h1>OUR CATALOG</h1>
 <img src="https://www.meme-arsenal.com/memes/109143d9d458aaa68cdb79242f7970ca.jpg" alt="our banana">
<h2>Banana</h2>
<h4>1 kg - 2$
 (banana is the common name for a type of fruit and also the name for the herbaceous plants that grow it. These plants belong to the genus Musa.  plants are grown for their fruits, which botanically are a type of berry)</h4>
<p><a href="catalog/banana">Buy banana</a></p>
 <img src="https://www.allmychefs.com/images/1412/1200-auto/ananas_000.jpg?poix=50&poiy=50" alt="our pineapple">
 <h2>Pineapple</h2>
 <h4>1 kg - 3$
  (pineapple (Ananas comosus) is a tropical plant with an edible fruit and the most economically significant plant in the family Bromeliaceae.The pineapple is indigenous to South America, where it has been cultivated for many centuries)</h4>
 <p><a href="catalog/pineapple">Buy pineapple</a></p>
 <img src="https://w7.pngwing.com/pngs/359/489/png-transparent-mandarin-orange-tangerine-tangelo-clementine-orange-food-orange-citrus.png" alt="our orange">

 <h2>Orange</h2>
 <h4>1 kg - 2$
  (The orange is the fruit of various citrus species in the family Rutaceae,see list of plants known as orange.It primarily refers to Citrus sinensis)</h4>
 <p><a href="catalog/orange">Buy orange</a></p>
</div>
{% endblock %}