{% extends 'base.html' %}

{% block title %}
BANANA
{% endblock %}

{% block body %}
<div class="container">

<h1>Banana</h1>
    <img src="https://im0-tub-ru.yandex.net/i?id=b2bb61077617fd06fa0c914360a42bfa&n=13" alt="our banana">
    <h2>1 kg - 2$</h2>
    <h4>The banana fruits grow from a banana blossom in hanging clusters, also called a bunch or banana stem. The fruits grow in rows called tiers or hands. There can be as many as twenty fruits to a hand, and as many as twenty tiers in a bunch. A bunch usually weighs between 30 and 50 kilograms (65 to 110 pounds)</h4>
    <buttton><a href="banana/buy">Buy banana</a></buttton>
</div>
{% endblock %}