{% extends 'base.html' %}

{% block title %}
ORANGE
{% endblock %}

{% block body %}
<div class="container">

<h1>Orange</h1>
    <img src="https://sun9-68.userapi.com/c846218/v846218600/4c0ba/ywVnjPzTRPY.jpg" alt="our orange">
    <h2>1 kg - 2$</h2>
    <h4> The orange originated in a region encompassing Southern China, Northeast India, and Myanmar,and the earliest mention of the sweet orange was in Chinese literature in 314 BC.As of 1987, orange trees were found to be the most cultivated fruit tree in the world.Orange trees are widely grown in tropical and subtropical climates for their sweet fruit. The fruit of the orange tree can be eaten fresh, or processed for its juice or fragrant peel.</h4>
    <buttton><a href="orange/buy">Buy orange</a></buttton>
</div>
{% endblock %}