{% extends 'base.html' %}

{% block title %}
PINEAPPLE
{% endblock %}

{% block body %}
<div class="container">

<h1>Pineapple</h1>
    <img src="https://fruits-exotic.ru/upload/iblock/857/857e9e4d6f7d270ed49aa5920ab93027.jpg" alt="our pineapple">
    <h2>1 kg - 3$</h2>
    <h4> The pineapple is a herbaceous perennial, which grows to 1.0 to 1.5 m (3 ft 3 in to 4 ft 11 in) tall, although sometimes it can be taller. In appearance, the plant has a short, stocky stem with tough, waxy leaves. When creating its fruit, it usually produces up to 200 flowers, although some large-fruited cultivars can exceed this. Once it flowers, the individual fruits of the flowers join together to create a multiple fruit. After the first fruit is produced, side shoots (called 'suckers' by commercial growers) are produced in the leaf axils of the main stem.</h4>
    <buttton><a href="pineapple/buy">Buy pineapple</a></buttton>
</div>
{% endblock %}